user  www-data;
worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include            mime.types;
    default_type       application/octet-stream;

    sendfile           off;
    keepalive_timeout  65;

    #########################################
    # PRETTY DOMAINS FOR DEVELOPER MACHINES #
    #########################################
    server {
        # Go here: http://zaiste.net/2013/03/serving_apps_locally_with_nginx_and_pretty_domains/
        # for more details

        listen       80;
        server_name  .dev;
        index  index.html index.htm index.php;

        set $BASEPATH "{{ nginx_app_dir }}";

        set $DOMAIN $host;

        if ($DOMAIN ~ "^(.*)\.dev$") {
            set $DOMAIN $1;
        }

        set $ROOTPATH "${DOMAIN}";

        if (-d $BASEPATH/$DOMAIN/public) {
            set $ROOTPATH "${DOMAIN}/public";
        }

        if (-f $BASEPATH/$DOMAIN/index.html) {
            set $ROOTPATH $DOMAIN;
        }

        root $BASEPATH/$ROOTPATH;

        error_page   500 502 503 504  /50x.html;

        location = /50x.html {
            root   html;
        }

        location ~ \.php$ {
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:///var/run/php5-fpm.sock;
            fastcgi_index index.php;
            include fastcgi_params;
        }
    }
}
